# Folders #
##############
**/__pycache__/
**/users/
**/jobs/
**/brownie
**/chainlink_adapter_bridges_templates/
**/fronend_test0/

# Filetypes #
##############
*.pyc
*.csv

# Files #
##############
**/.pytest_cache
**/.eggs
**/*.egg-info
**.cache
